:root {
  --paper: #f6f5f0;
  --ink: #191918;
  --muted: #77766f;
  --line: #d8d6cc;
  --accent: #b0472e;
  --soft: #e9e7de;
  --icon-size-sm: 1rem;
  --icon-size-md: 1.2rem;
  --icon-size-lg: 1.5rem;
}
:root[data-theme='dark'] {
  --paper: #1b1b19;
  --ink: #eeeae0;
  --muted: #aaa79b;
  --line: #3d3c36;
  --accent: #ee8969;
  --soft: #2a2a26;
}
@media (prefers-color-scheme: dark) {
  :root:not([data-theme='light']) {
    --paper: #1b1b19;
    --ink: #eeeae0;
    --muted: #aaa79b;
    --line: #3d3c36;
    --accent: #ee8969;
    --soft: #2a2a26;
    --icon-size-sm: 1rem;
    --icon-size-md: 1.2rem;
    --icon-size-lg: 1.5rem;
  }
}
